.titulo{
    background-color: red;
    background-position: center;
    background-size: auto;
}
.seccion{
    background-color: blue;
}
.titulosSeccion{
    background-color: chartreuse;
}
body{
    background-color: chocolate;
}
.title{
    font-size: 2em;
}
.logo{
    width: 300px;
    position: auto;

}