.titulo{
    background-color: red;
    background-position: center;
    background-size: auto;
}
.seccion{
    background-color: blue;
}
.titulosSeccion{
    background-color: chartreuse;
}
body{
    background-color: chocolate;
}
.title{
    font-size: 2em;
}
.articulo{
    padding: 1em 1em 1em 0em;
}
.cards{
    border: 2px solid black;
    /*width: fit-content; /*El contenido delimita el ancho*/
    /*padding: 0px 1em 1em 1em; /* Sigue el sentido de las agujas del reloj "ARRIBA","DERECHA","ABAJO","iZQUIERDA"*/
    transition: 2s;
    flex: 1;
    height: 130px;

}
.cards:hover{
    background-color: blueviolet;
}
.logo{
    width: 250px;
    margin-right: auto;
    border: 2px solid black;
   
}
.container{
    display: flex;
    flex-direction: column ;
}
#titulos{
    border: 2px solid black;/* Bordes del div el cual ahora se sombrean */
    width: 60vw; /* viewport with*. ancho de la pantalla donde se esta trabajando */
    margin: auto; /*Margen o bordes que tanto se distanciara de los elementos q lo rodea*/
    padding: 1em; /*Despega contenido del borde*/
}


