body {
    background-image: url("/img/fondo.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.isaac-container {
    border-radius: 15px;
    overflow: hidden;
    width: 100%;
    height: auto;
}
.isaac{
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    right: 0;
    margin: 0 ;
    padding: 1em 1em 2em 2em;
    max-width: 36%;
    border-radius: 50% ;
    object-fit: cover;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.4s;
}
.isaac:hover{
    opacity: 0.7;
}
.title {
    font-size: 2em;
}

.techFav {
    text-align: center;
    margin-bottom: 20px;
}

.container {
    text-align: center;
    padding: 8px 0em 2px 0em;
}

.container1, .container2 {
    text-align: center;
    border: 2px solid white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    padding: 0px 1em 2em 1em;
    max-width: 800px;
}

.container2:hover {
    transform: translateY(5px);
}

.cards {
    display: inline-block;
    margin: 0 10px;
    text-align: center;
    border: 2px solid rgb(66, 57, 57);
    width: fit-content;
    padding: 0px 1em 2em 1em;
    border-radius: 10%;
    transition: 2s;
}

.cards:hover {
    background-color: red;
    transform: scale(1.1);
}

.logo {
    width: 150px;
    display: block; 
    transition: 0.5s ease; 
}

.logo:hover {
    transform: scale(1.1);
}

.title5 {
    display: flex;
    justify-content: center; 
    align-items: center; 
    transform: translateY(24px);
    width: 610px;
}

/* Estilos para los campos de entrada dentro del formulario */
#nombre, #descripcion, #link {
    display: block; 
    margin: 0 auto; 
    width: 800px; 
    padding: 10px; 
    border: 1px solid white; 
    border-radius: 5px; 
    margin-bottom: 20px;
}

#button {
    display: block; 
    margin: auto 230px; 
    width: 200px; 
    padding: 10px; 
    border: 1px solid white; 
    border-radius: 5px; 
    margin-bottom: 20px;
}
/*.button-container{
    display: flex;
    justify-content: space-between;

}*/
#clearButton{
    display: flex;
    margin: auto 230px;
    width: 200px;
    padding: 6px;
    border: 1px solid white;
    border-radius: 5px;
    margin-bottom: 20px;
}
.containerCard {
    text-align: center;
    margin: auto; 
    width: 400px; 
    padding: 10px; 
    border: 1px solid white; 
    border-radius: 5px; 
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
}

/* Estilos para las tarjetas de actividades */
.tarjeta {
    display: inline-block; 
    margin: 10px; 
    width: calc(50% - 20px); 
    box-sizing: border-box; 
}

.cuerpo {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cuerpo img {
    width: 100%;
    max-width: 200px;
    height: auto;
    margin-bottom: 10px;
}

.titulo {
    margin-bottom: 10px;
}

.descripcion {
    text-align: center;
}

